applications/config_application.php
applications/config_database.php
applications/config_public.php

/applications/*/cache/
/applications/*/config/config.php
applications/passport/config/config_passport.php
applications/pay/config/config_pay.php
applications/webgame/libraries/config
applications/pay/libraries/config
applications/passport/uc_client/config.php
applications/passport/uc_client/data

wwwroot/static/common/ckeditor/config.js
wwwroot/config.php
wwwroot/ucserver/data/
wwwroot/ucserver/gametest/interface/config.php
wwwroot/ucserver/gametest/xhprof/config.php
wwwroot/bbs/data/
wwwroot/bbs/config/
wwwroot/bbs/uc_server/data/
wwwroot/bbs/uc_client/data/
wwwroot/uploadfile/
*.svn
*.swp
wwwroot/webgame/*.html
/applications/movie/config/config.php
