applications/config_application.php
applications/config_database.php
applications/config_public.php
applications/passport/uc_client/config.php
applications/passport/uc_client/data
applications/passport/config/config.php
applications/passport/cache
applications/movie/config/config.php
applications/movie/cache
applications/tbshop/config/config.php
applications/tbshop/cache
applications/kidsedu/config/config.php
applications/kidsedu/cache
applications/spider/config/config.php
applications/spider/cache
applications/webgame/config/config.php
applications/webgame/cache
applications/webgame/libraries/config
applications/pay/config/config.php
applications/pay/cache
applications/pay/libraries/config
wwwroot/static/common/ckeditor/config.js
wwwroot/config.php
wwwroot/ucserver/data/
wwwroot/bbs/data/
wwwroot/bbs/config/
wwwroot/bbs/uc_server/data/
wwwroot/bbs/uc_client/data/
wwwroot/uploadfile/
*.svn
