@charset "utf-8";
/* CSS Document */

/*表单内容*/
.formContent h3{height:38px;line-height:38px;padding-left:35px;margin-bottom:25px;border-bottom:1px solid #ddd;background:url(../images/per_sprites.gif) -325px -147px no-repeat;}

.formContent p{height:auto !important;height:40px;min-height:40px;line-height:30px;display:block;margin-bottom:10px;}
.formContent p:after{content:"";display:block;height:0;clear:both;visibility:hidden;}

.formContent p em,.formContent input,.formContent p select,.formContent p font,.formContent p label{float:left;margin:3px 10px 0 0;font-size:14px;}
.formContent input{outline:none;}
.formContent p em{width:150px;margin:3px 0 0 0;text-align:right;}
.formContent p select{width:100px;height:24px;padding:3px;margin-top:5px;}
.formContent p label input{margin:9px 5px 0 0;*margin:4px 0 0 0;}

.inp1,.inp2,.inp3{height:26px;line-height:26px;padding:0 5px;border:1px solid #ddd;background:url(../images/u_2_4d.gif) repeat-x;}
.inp1.selected,.inp2.selected,.inp3.selected{border:1px solid #56a5f5;background:#FEFFE3 url(../images/u_2_4e.gif) repeat-x;}
.inp1.errorAlert,.inp2.errorAlert,.inp3.errorAlert{border:1px solid #FF9A9A;background:#FEFFE3 url(../images/u_2_4e.gif) repeat-x;}
.inp1{width:250px;}
.inp2{width:80px;}
.inp3{width:120px;}

.formContent p .selectedBtn{width:81px;height:26px;cursor:pointer;border:0;background:url(../images/per_sprites.gif) -238px -70px no-repeat;}
.formContent p.submitBtn{padding-top:10px;}
.formContent p.submitBtn input{width:109px;height:35px;cursor:pointer;border:0;background:url(../images/per_sprites.gif) 0 0 no-repeat;}
.formContent p.submitBtn.add input{background:url(../images/per_sprites.gif) -220px 0 no-repeat;}

.boxWrap{float:left;height:31px;position:relative; display:block;}
.calendarSelect{width:31px;height:24px;display:block;cursor:pointer;position:absolute;right:11px;top:6px;background:url(../images/reg_sprites.gif) 0 0 no-repeat;}

/*表单验证提示*/
.tipsBox{float:left;width:200px;height:auto !important;height:20px;min-height:20px;line-height:1.5em;padding:7px 0 0 25px;color:#999;}
.tipsBox.default{background:url(../images/reg_sprites.gif) 0 -51px no-repeat;}
.tipsBox.ok{background:url(../images/u_2_4b.gif) 0 9px no-repeat;}
.tipsBox.error{color:#F30;background:url(../images/reg_sprites.gif) -39px -26px no-repeat;}

/*邮箱提示*/
.mailListBox,.mailListBox iframe,.mailListBox ul{position:absolute;}
.mailListBox iframe,.mailListBox ul{left:0;top:0;}
.mailListBox{width:262px;height:247px;}
.mailListBox iframe{width:400px;height:260px;}
.mailListIframe{filter:alpha(opacity=0);opacity:0;}
.mailListBox ul{padding:10px;border:1px solid #ddd;background:#fff;}
.mailListBox ul li{padding-left:5px;line-height:25px;cursor:pointer;}
.mailListBox ul li.current,.mailListBox ul li.hover{background:#f7f7f7;}
.mailListBox ul li.first{background:#fff;}