@charset "utf-8";
/* CSS Document */

/*底部*/
.footer{width:960px;margin:15px auto 0 auto;text-align:center;font-size:12px;line-height:23px;padding-bottom:20px;color:#818181;}
.footer .hot{display:block;height:14px;overflow:hidden;}
.footer .hot img{float:left;padding-left:179px;}
.footer p{display:block;line-height:normal;height:23px;overflow:hidden;}
.footer a{margin:0 11px;color:#818181;}
.footer img{vertical-align:middle;}