@charset "utf-8";

.topnavb{background:url(http://pic.my4399.com/newimg/top_bg.gif) repeat-x;height:35px;width:100%;font-size:12px;line-height:20px;}
#topnav{width:1004px;height:35px;margin:0 auto;position:relative;z-index:900;}
#topnav .top_logo{float:left; display:block; height:30px;width:194px;background:url(http://pic.my4399.com/newimg/common_top.png);margin-top:2px;z-index:10;overflow:hidden;}
#topnav .top_logo a{height:30px;width:194px;display:block;text-indent:-20000px}
#topnav .gametj{position:absolute;height:20px;line-height:20px;width:560px;top:10px;left:200px;overflow:hidden;color:#000;background:url(http://pic.my4399.com/newimg/common_top.png) -174px -40px no-repeat;padding-left:18px;}
#topnav .gametj a{text-decoration:none;color:#000;display:block;float:left;height:20px;padding:0 6px 0 18px;background-image:url(http://pic.my4399.com/newimg/common_top.png);background-repeat: no-repeat;}
#topnav .gametj a:hover{color:#DD3100;}
.ico_mcsd{background-position:0 -64px;}
.ico_ddt{background-position:0 -86px;}
.ico_ftxy{background-position:0 -108px;}
.ico_plsm{background-position:0 -130px;}
.ico_rxsg{background-position:0 -152px;}
.ico_yzh{background-position:0 -174px;}
.ico_xyz{background-position:0 -196px;}
.ico_astd{background-position:0 -218px;}
.ico_sdz{background-position:0 -240px;}
.ico_mlxt{background-position:0 -262px;}
.ico_frxz{background-position:0 -284px;}
.ico_kdjl{background-position:0 -306px;}
.ico_wmnc{background-position:0 -328px;}
.ico_qmzl{background-position:0 -350px;}
.ico_lmzy{background-position:0 -372px;}
.ico_letu{background-position:0 -394px;}
.ico_sydh{background-position:0 -416px;}
.ico_mgtx{background-position:0 -438px;}
.ico_wlzb{background-position:0 -460px;}
.ico_mhxx{background-position:0 -482px;}
.ico_dtzl{background-position:0 -504px;}
.ico_zjcq{background-position:0 -526px;}
.ico_tdyx{background-position:0 -548px;}
.ico_jtxm{background-position:0 -570px;}
.ico_hhsh{background-position:0 -592px;}
.ico_yjjh{background-position:0 -614px;}
.ico_asqx{background-position:0 -636px;}
.ico_yxyz{background-position:0 -658px;}
.ico_zy{background-position:0 -680px;}
.ico_hlzj{background-position:0 -702px;}
.ico_cyfx{background-position:0 -724px;}
.ico_ygfs{background-position:0 -746px;}
.ico_dfxx{background-position:0 -768px;}
.ico_mccq{background-position:0 -790px;}
.ico_tm{background-position:0 -812px;}
.ico_frg{background-position:0 -834px;}
.ico_jhl{background-position:0 -856px;}
.ico_jqdg{background-position:0 -878px;}
.ico_dhcq{background-position:0 -899px;}
.ico_pmxy{background-position:0 -921px;}
.ico_dtzl2{background-position:0 -942px;}
.ico_smzt{background-position:0 -964px;}
.ico_xq{background-position:0 -986px;}
.ico_dhsj{background-position:0 -1008px;}
.ico_pht{background-position:0 -1030px;}
.ico_gwsj{background-position:0 -1052px;}
.ico_txj{background-position:0 -1074px;}
.ico_aszt{background-position:0 -1096px;}
.ico_dffy{background-position:0 -1118px;}
.ico_zt{background-position:0 -1140px;}
.ico_mcjh{background-position:0 -1162px;}
.ico_yxwz{background-position:-114px -64px;}
.ico_frxz2{background-position:-114px -86px;}
.ico_mcsd2{background-position:-114px -108px;}
.ico_hzdmx{background-position:-114px -130px;}
.ico_tzr{background-position:-114px -152px;}
.ico_moer{background-position:-114px -174px;}
.ico_hlqs{background-position:-114px -196px;}
.ico_ztqz{background-position:-114px -218px;}
.ico_yjxy{background-position:-114px -240px;}
.ico_bbt{background-position:-114px -262px;}
.ico_dxc{background-position:-114px -284px;}
.ico_rxsg2{background-position:-114px -306px;}
.ico_tqjs{background-position:-114px -328px;}
.ico_llj{background-position:-114px -350px;}
.ico_sjsj{background-position:-114px -372px;}
.ico_mhfx{background-position:-114px -394px;}
.ico_csz{background-position:-114px -416px;}
.ico_sq{background-position:-114px -416px;}
.ico_md{background-position:-114px -438px;}
.ico_tmst{background-position:-114px -460px;}
.ico_smxj{background-position:-114px -482px;