@charset "utf-8";
/* CSS Document */

html {
    overflow-y: scroll;
}
body {
   background:url(../images/bodybj.jpg) no-repeat center 54px;
    font: 12px/1.5 宋体,Arial,sans-serif;
    margin: 0;
   padding:0;
}
a:hover{text-decoration:none;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p {
    margin: 0;
    padding: 0;
}
table, td, tr, th {
    font-size: 12px;
}
ol, ul {
    list-style: none outside none;
}
li {
    list-style-type: none;
}
img {
    border: 0 none;
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: normal;
}
address, cite, code, em, th, i {
    font-style: normal;
    font-weight: normal;
}
.hx a, .hx em, .fB {
    font-weight: bold;
}
.clearfix {
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
a {
    color: #252525;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
