@charset "utf-8";

.not-find{
background:url("../images/not_find.png") 210px 0 no-repeat;
}
.not-find .go-back{
    height: 38px;
    margin-left: 326px;
    margin-top: 498px;
    width: 138px;
    display:inline-block;
    cursor:pointer;
}
.not-find .go-to{
    height: 38px;
    margin-left: 80px;
    width: 138px;
    display:inline-block;
    cursor:pointer;
}
.min-body{
   width:100%;
overflow:hidden;
}
.big-body{
   width:100%;
   height:auto!important;
}
.big-body .big-content{
width:960px;
margin:-10px auto;
height:auto!important;
overflow:visible;
position:relative;
         padding-bottom:30px;
}
.game-list{
width:48px;
height:48px;
position: relative;
          margin-left:8px;
}
.t-hack{
top:10px !important;
*top:10px;
}
.seer{
background:url("../images/register.png") no-repeat 0 -96px;
}
.gf{
background:url("../images/register.png") no-repeat 0 -240px;
}
.mole{
background:url("../images/register.png") no-repeat 0 -48px;
}
.bus{
background:url("../images/register.png") no-repeat 0 -144px;
}
.seer2{
/*background:url("../images/register.png") no-repeat 0 -192px;*/
background:url("../images/register_seer.png") no-repeat;
}
.wole{
background:url("../images/register.png") no-repeat -49px -48px;
}
.bingt{
background:url("../images/bingtuan.png") no-repeat;
}
.mole2{
background:url("../images/register.png") no-repeat -49px 0;
}
.xhx{
background:url("../images/register.png") no-repeat 0 -288px;
}
.hero{
background:url("../images/register.png") no-repeat;
}
.new-one{
    margin-left:240px!important;
}
.big-body .big-back{
background:url('../images/background.png') no-repeat -26px 10px;
width:966px;
}
.go-back-to-old{
position:fixed;
width:62px;
height:72px;
background:url('../images/change.png') no-repeat;
right:10px;
margin-top:180px;
cursor:pointer;
z-index:20;
    _position:absolute;
    _right:auto;
    _left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));
}
.reg-radio {
    margin-left: 205px;
    margin-top: 15px;
}
.raido{
    font-size: 14px;margin-top:10px;_margin-top:7px;
}
.big-content .lit-top{
	border-bottom: 1px #CCC dotted;
	height: 55px;
	width: 949px;
	margin-left: 9px;
	font-size:14px;
    line-height:42px;
    overflow:hidden;
}
.lit-top{
	border-bottom: 1px #CCC dotted;
	height: 45px;
	width: 949px;
	margin-left: 9px;
	font-size:14px;
}
.lit-top .tip{
	display:inline-block;margin-top:22px;
}
.min-body .min-content{
width:960px;
margin:0 auto;
height:auto!important;
height:410px;
min-height:410px;
position:relative;
}
.has-background{
	background:url("../images/index.png") no-repeat scroll 0px -1108px transparent;
	height:411px!important;
	width:1258px!important;
}
.stop-service{
	background:url("../images/stop_service.png") no-repeat scroll 200px 0px transparent;
	height:411px!important;
	width:1258px!important;
}
.min-body .back{
background:url('../images/background.png') no-repeat -26px 0;
width:966px;
}
.a-botton,.btn_sec,.btn_disabled{
background: url("../images/botton_org.png") repeat scroll 0 0 transparent;
color: #FE6700;
height: 36px;
line-height: 36px;
margin-left: 200px;
margin-top: 5px;
text-align: center;
text-decoration: none;
width: 103px;
display:inline-block;
cursor:pointer;
margin-bottom:20px;
}
.btn_sec{
background: url("../images/btn_sec.png") no-repeat scroll -2px -43px transparent;
width: 140px;
font-size: 14px;
height: 44px;
line-height: 44px;
margin-top: 0px;
}
.btn_disabled {
background: url("../images/btn_sec.png") no-repeat scroll -2px 1px transparent;
width: 140px;
font-size: 14px;
color: #fff;
height: 44px;
line-height: 44px;
margin-top: 0px;
}
.ml325{margin-left:325px;}
.confirm{
    font-size:14px;
    display:inline-block;
    margin-left:415px;
}
.a-botton span{
	/*line-height: 40px;*/
    margin-left:-5px;
}
.min-content .min-head{
    margin-left:8px;
    width:950px;
    border-bottom:1px dotted #CCCCCC;
    padding-top:20px;
}
.min-head .tip-div{
background-color:#F5F5F5;
height: 60px;
        font-size: 14px;
        text-align: center;
        line-height: 60px;
}
.foot-bar{
   width:100%;
   height:160px;
   background-color:#F8F8F8;
}
.foot-bar .foot-content{
    width:960px;
    margin:0 auto;
    height:160px;
    overflow:hidden;
}
.foot-content .content{
      float:left;
      width:300px;
      height:140px;
      padding:40px 0 0 10px;
      border-right:1px dotted #c2c2c2;
}
.content .fcon{
float:right;
line-height:27px;
color:#666;
font-size:14px;
}
.fcon  .fcon-pl{
    font-weight:bold;width:220px;
}
.fcon .fcon-pb{
display:inline-block;width:180px;line-height:20px;
}
.min-content .login{
margin-top:40px;
position:absolute;
right:180px;
z-index:2;
background:url(../images/login.png) no-repeat;
_background:none;
width:316px;
height:345px;
}
.hack-after{
_background:none;
position:absolute;
width:316px;
height:345px;
_right:180px;
_top:40px;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod='crop',src='../images/after_login.png');
_background:none;
}
.hack-span{
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod='crop',src='../images/login.png');
_background:none;
position:absolute;
width:316px;
height:345px;
_right:180px;
_top:40px;
}
.min-content .after-login{
background:url(../images/after_login.png) no-repeat;
_background:none;
}
.min-content .after-row{
    margin-left:70px;
    margin-top:80px;
    font-size:14px;
    font-family:SimSun;
}
.min-content .min-foot{
	width: 569px;
	height: 50px;
        border-bottom: 1px #EEE solid;
        margin-left: 208px;
        line-height: 50px;
        font-size: 14px;
clear:both;
overflow:hidden;
         font-family:"宋体";
}
.min-foot .gra-img{
    margin-top:13px;margin-left:10px;margin-right:10px;
}
.min-foot .g-span{
margin-right:30px;
color:#68B342;
}
.min-foot .s-edit{
	color:#777777;
	visibility:hidden;
	cursor:pointer;
}
.min-head .head-row{
    font-size: 14px;
    font-family: SimSun;
    padding: 19px 0 5px 0;
margin-left: 172px;
overflow: auto;
zoom:1;
}
.min-head .top-tip{
background: whiteSmoke;
overflow: auto;
}
.head-row .mimi-span{
float:left;margin-top:4px;margin-left:5px;
}
.head-brow .mimi-span{
float:left;margin-top:4px;margin-left:2px;
}
.min-head .head-brow{
    font-size:14px;font-family:SimSun;
      padding-top:12px;
}
.after-row .row{
    font-size:14px;
height:20px;
line-height:20px;
    margin-bottom:8px;
}
.row .b-span{
    font-size:18px;
    font-family:Arial;
}
.botton-row{
background:url('../images/before_hover.png') no-repeat;
width:132px;
height:32px;
line-height:32px;
text-align:center;
margin-top:50px;
color:#FE9955;
font-size:16px;
cursor:pointer;
}
.after-row .bo-hover{
background:url('../images/after_hover.png') no-repeat;
}
.after-row .b-red{
    font-size:18px;
    color:#FE0001;
          font-family:Arial;
}
.foot-botton{
	clear:both;
	margin-top:70px;
	margin-left:300px;
}
.f-botton{
	background: url('../images/common.png') no-repeat scroll 0 -174px transparent;
	display:inline-block;
    width:165px;
	height:32px;
	margin-right:20px;
	line-height: 32px;
    margin-right: 20px;
    text-align: center;
    font-size:14px;
    cursor:pointer;
    color:#000;
    text-decoration:none;
}
.alter-box{
	position:absolute;
	z-index:3000;
	display:none;
}
.alter-box .top{
	background-color:#eee;
	height: 30px;
	line-height: 30px;
	padding-left: 16px;
	border: 1px solid #CCC;
	border-radius: 3px 3px 0 0;
	border-bottom:none;
}
.alter-box .body{
	position:relative;
	background:#fff;
	border:1px solid #ccc;
	padding: 20px 6px;
	border-radius: 0 0 3px 3px;
	zoom:1;
}
.body .field{
	overflow:auto;
       margin-bottom:5px;
clear:both;
}
.rs-tip{
    font-size:14px;
    line-height:20px;
    word-wrap:break-word;
    word-break:break-all;
    display:block;
    width:350px;
}
.body .f-botton{
	float: left;
    margin-left: 61px;
    margin-top: -37px;
}
.field .f-span{
	display: block;
    font-size: 14px;
    height: 132px;
    padding-left: 110px;
    padding-top: 2px;
}
.field .txt{
	margin-left: 5px;
	border:0;
	margin-top: 5px;
	line-height:30px;
	background:transparent;
	width: 225px;
	height: 30px;
	outline:none;
            font-size:16px;
       font-family:"微软雅黑";
}
.field .a-field{
	display:block;
	clear:both;
	color: #000000;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    width:200px;
    margin-left: 113px;
}
.field .a-field:hover{
	text-decoration: underline;
}
.field .label{
	float:left;
	margin-top: 9px;
	margin-right:2px;
	width:105px;
	text-align:right;
    zoom:1;
}
.field .f-ses{
background:url('../images/sesscode.png') no-repeat;
width: 110px;
height: 39px;
float:left;
zoom:1;
}
.body .min-input,.reg-box .min-input{
	float:left;
	height:39px;
width:260px;
overflow:hidden;
	background:url('../images/input_out.png') no-repeat;
    zoom:1;
}
.top .off{
	width:24px;
	height:24px;
	margin-right:16px;
	margin-top:3px;
	background:url('../images/off.png') no-repeat;float:right;
zoom:1;
}
.login .inputout-first{
    background:url('../images/input_out.png');
    margin-top:85px;
    margin-left:42px;
    width:232px;
    height:39px;
}
.login .a-span{
   position:absolute; margin-left:42px;display:inline-block;
   bottom:22px;
}
.a-span a{
    color:#FF6600;
    line-height:30px;
    font-size:14px;
    outline:none;
}

.inputout-first .select-div{
    margin-top:38px;
    margin-left:37px;
    *margin-left:8px;
    position:absolute;
    z-index:10;
    background-color:#ffffff;
    width:190px;
    height:150px;
    overflow-y:auto;
    overflow-x:hidden;
    border:1px #c7c7c7 solid;
    border-top:none;
    display:none;
}
.select-email{
    margin-left: 78px;
    margin-top: -23px;
    position: absolute;
    width: 324px;
    word-wrap: break-word;
    z-index:15;
    background-color:#ffffff;
}
.select-email .email-option{
	border:1px #cccccc solid;
	border-top:none;
	height:25px;
	line-height:25px;
	cursor:pointer;
overflow:hidden;
         white-space: nowrap;
         padding-left:5px;
}
.email-option:hover{
	background-color:#cccccc;
}
.select-div .select-option{
      width:190px;
      line-height:30px;
      text-align:left;
      padding-left:5px;
      height:30px;
      border-bottom:1px #C7C7C7 solid;
      cursor:pointer;
}
.login .inputout-two{
    background:url('../images/input_out.png');
    margin-top:8px;
    margin-left:42px;
    width:232px;
    height:39px;
position:relative;
}
.inputout-two .ab_label
{
position: absolute;
right: 5px;
top: 11px;
     z-index: 10;
display:none;
}
.field .ab_label
{
position: absolute;
right: 52px;
top: 11px;
z-index: 10;
display:none;
}
.ab_label input,.ab_label span{
    vertical-align:middle;
}
.login .inputin-first{
background:url('../images/input_in.png') no-repeat;
}
.fimg{
float:left;margin-left:10px;margin-top:7px;zoom:1;
}
.rimg{
float:right;
margin-top:7px;
margin-right:10px;
_margin-right:8px;
cursor:pointer;
width:25px;height:25px;
background:url('../images/common.png') no-repeat scroll 0 -570px;
zoom:1;
}
.select-hover{
background:url('../images/common.png') no-repeat scroll 0 -508px;
zoom:1;
}
.text-input{
height: 32px;
margin-top: 3px;
border: 0;
z-index:3;
outline:none;
padding-left: 5px;
background-color:#FFF;
position:absolute;
line-height:32px;
opacity:0.5;
filter:alpha(opacity=50);
       font-size:16px;
width:153px;
      font-family:"微软雅黑";
}
.comm-error{
display:none;
position:relative;
*zoom:1;
height:35px;
vertical-align:top;
padding-right:10px;
background:transparent url('../images/error_new.png') right 0 no-repeat;
}
.ps-error{
	margin-left:227px;
	margin-bottom:-13px;
	position:absolute;
	margin-top:-29px;
	z-index:10;
}
.alert-error{
height:25px;
text-align:center;
overflow:hidden;
background-color:#FFF5D8;
color:#FF2222;
font-size:14px;
font-family:"宋体";
margin:-20px -6px 0 -6px;
display:none;
        line-height:25px;
}
.alert-error .notice{
background:url("../images/common.png") no-repeat 0 -750px;
display:inline-block;
*display:inline;
zoom:1;
width:16px;
height:18px;
vertical-align:middle;
}
.ps-alert{
    margin-left:88px;
}
.comm-error span{
display:inline-block;
*zoom:1;
height:35px;
line-height:30px;
vertical-align:top;
background:transparent url('../images/error_new.png') left 0 no-repeat;
_background:transparent url('../images/error_new.png') -6px 0 no-repeat;
white-space:nowrap;
position:relative;
padding-left:10px;
color:#FE0002;
      background-position:0 0;
left:-5px;
}
.login .input-error{
  background:url('../images/input_error.png') no-repeat;
}
.sesscode{
    background: url("../images/sesscode.png") no-repeat scroll 0 0 transparent;
    height: 39px;
    line-height: 39px;
    margin-left: 42px;
    margin-top: 10px;
    width: 110px;
}
.sesscode .s-span{
margin-left: 10px;
display:inline-block;
position:absolute;
color:#9a9a9a;
}
.sesscode .ses-text{
background-color:#FFF;
margin-top: 2px;
margin-left:8px;
height: 30px;
width: 94px;
opacity:0.5;filter:alpha(opacity=50);
z-index:3;
line-height:30px;
position:absolute;
border:0;
outline:none;
width:88px;
      font-size:16px;
      font-family:"微软雅黑";
}
.botton{
background:url('../images/common.png') no-repeat 0 -73px;
margin-left:42px;
margin-top:17px;
height:37px;
line-height:37px;
text-align:center;
width:111px;
color:#ffffff;
cursor:pointer;
font-family:微软雅黑,Microsoft YaHei;
}
.b-hover{
background:url('../images/common.png') no-repeat 0 -36px;
}
.t-span{
position:absolute;
line-height:40px;
margin-left:10px;
color:#333;
}
.ses-img{
position:absolute;margin-left:110px;cursor:pointer;width:68px;height:37px;
}
.ses-a{
position:absolute;margin-left:190px;
}
.reg-box{
	height: auto;
    margin-left: 170px;
    overflow: hidden;
    position: relative;
	padding-top: 26px;
}
.reg-box .reg-email-tip{
	font-size:14px;
	width: 600px;
   line-height: 24px;
   word-wrap: break-word;
   clear:right;
   position:relative;
}
.min-gou-icon{
	background:url('../images/common.png') no-repeat 0 -537px;
	width:30px;
	height:27px;
	float:left;
	margin-right:10px;
    zoom:1;
}
.big-gou-icon{
    background: url("../images/common.png") no-repeat scroll 0 -360px transparent;
    float: left;
    height: 67px;
    margin-right: 10px;
    width: 67px;
    zoom:1;
}
.find-all{
	width:800px;height:300px;
}
.reg-img{
	float:left;
	height:32px;
	margin-right:20px;
*overflow:hidden;
}
.reg-on{
	width:138px;
	height:138px;
	cursor:pointer;
	position:relative;
}
.p-reg-off{
	background:url('../images/verify.png') no-repeat -602px -303px;
}
.p-reg-hover{
	background:url('../images/verify.png') no-repeat -602px -152px;
}
.p-reg-on{
	background:url('../images/verify.png') no-repeat -602px -5px;
}
.q-reg-off{
	background:url('../images/verify.png') no-repeat -3px -316px;
}
.q-reg-hover{
	background:url('../images/verify.png') no-repeat -3px -157px;
}
.q-reg-on{
	background:url('../images/verify.png') no-repeat -3px -2px;
}
.e-reg-off{
	background:url('../images/verify.png') no-repeat -153px -316px;
}
.e-reg-hover{
	background:url('../images/verify.png') no-repeat -153px -157px;
}
.e-reg-on{
	background:url('../images/verify.png') no-repeat -153px -2px;
}
.k-reg-off{
	background:url('../images/verify.png') no-repeat -303px -316px;
}
.k-reg-hover{
	background:url('../images/verify.png') no-repeat -303px -157px;
}
.k-reg-on{
	background:url('../images/verify.png') no-repeat -303px -2px;
}
.s-reg-hover{
	background:url('../images/verify.png') no-repeat -455px -157px;
}
.s-reg-on{
	background:url('../images/verify.png') no-repeat -455px -2px;
}
.reg-on .o-reg-tip{
	color:#fff;
	font-size:14px;
	padding-top:88px;
    text-align:center;
}
.reg-tip-foot{
	margin-left: 200px;
	color:#9A9A9A;
	text-align:left;
	line-height:24px;
	word-wrap: break-word;
	width:340px;
position:relative;
clear:left;
}
.reg-on .reg-tip-two{
	color:#fff;
	font-size:14px;
	margin-top: 7px;
    text-align:center;

}
.reg-foot{
	background:url('../images/verify.png') no-repeat  -455px -454px;
	position:relative;
	width:138px;
	height:69px;
	display:none;
}
.reg-foot .reg-f{
	color:#9A9A9A;
    line-height:18px;
    height: 40px;
    overflow: hidden;
    padding: 12px;width: 113px;
}
.reg-foot .reg-tip-a{
	color:#9A9A9A;
	display:block;
	width:113px;
	text-align:center;
}
.reg-top{
overflow:auto;
margin-bottom:30px;
font-size: 14px;
line-height: 20px;
margin-left:207px;
margin-top:10px;
_margin-bottom:48px;
}
.appeal-top{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
    margin-top: -28px;
    overflow: hidden;
    text-align: center;
    width: 650px;
}
.reg-row{
width: 680px;
overflow:hidden;
         margin-bottom:20px;
position: relative;
clear:both;
}
.reg-box .field{
width: 680px;
overflow:hidden;
         margin-bottom:20px;
position: relative;
clear:both;
}
.reg-row .must{
	color:#FA7F01;
	font-size:14px;
	float:left;
	margin-top:15px;
	font-weight:bold;
}
.reg-row .label{
float:left;
line-height:46px;
font-size:14px;
width:200px;
text-align:right;
}
.reg-row-alert{
width: 410px;
}
.mb0{margin-bottom:0px;}
.reg-row-alert .label{
float:left;
line-height:40px;
font-size:14px;
width:70px;
text-align:right;
}
.reg-row .new-label{
    line-height:35px;
}
.reg-row .tip-span{
	line-height: 40PX;
font-size: 14px;
}
.reg-div .reg-span{
position:absolute;
margin-left: 14px;
margin-top: 15px;
line-height:18px;
color:#333;
}
.reg-div .reg-input{
position:absolute;
border: 0 none;
height: 34px;
line-height:35px;
margin-left: 10px;
margin-top: 6px;
background-color:#FFF;
position: absolute;
width: 320px;
outline:none;
opacity:0.5;
filter:alpha(opacity=58);
font-size:16px;
font-family:"微软雅黑";
}
.reg-div .reg-sec{
background:transparent;
outline:none;
width: 100px;
position:absolute;
border: 0 none;
height: 30px;
line-height:30px;
margin-left: 14px;
margin-top: 6px;
font-size:16px;
       font-family:"微软雅黑";
}
.rsess-row .reg-img{
float:left;
margin-left:20px;
display:none;
width:176px;
height:50px;
}
.reg-row .reg-div{
position:relative;
float:left;
width:335px;
height:44px;
background:url("../images/input_img.png") no-repeat scroll 0 0 transparent;
}
.reg-botton{
    background: url("../images/common.png") no-repeat scroll 0 -73px transparent;
    color: #FFFFFF;
    height: 37px;
    line-height: 36px;
    margin-left: 200px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    width: 120px;
	font-family:微软雅黑,Microsoft YaHei;
}
.reg-botton-on{
    background: url("../images/common.png") no-repeat scroll 0 -36px transparent;
    color: #FFFFFF;
    height: 37px;
    line-height: 36px;
    margin-left: 200px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    width: 120px;
	font-family:微软雅黑,Microsoft YaHei;
}
.reg-botton span{
    margin-right:5px;
}
.reg-botton-on span{
    margin-right:5px;
}
.rsess-row{
    font-size:14px;
height:50px;
       margin-bottom:20px;
clear:both;
overflow:hidden;
}
.rsess-row .reg-div{
background:url('../images/reg_ses.png') no-repeat;
width:132px;
height:40px;
float:left;
}
.rsess-row .label{
float:left;line-height:40px;width:200px;
text-align:right;
}
.check-row{
width:400px;height:30px;
position:relative;
margin-left:199px;
margin-bottom:20px;
}
.check-row .check{
    background: url("../images/common.png") no-repeat scroll 0 -828px transparent;
    float: left;
    height: 20px;
    margin-top: 3px;
	margin-right: 5px;
    overflow: hidden;
    position: relative;
    width: 20px;
}
.check-row .uncheck{
    background: url("../images/common.png") no-repeat scroll 0 -802px transparent;
    float: left;
    height: 20px;
    margin-top: 3px;
	margin-right: 5px;
    overflow: hidden;
    position: relative;
    width: 20px;
}
.check-row .reg-check{
height:14px;
width:14px;
position:absolute;
clip: rect(1px, 12px, 12px, 1px);;
}
.check-row .che-span{
    line-height:24px;
float:left;
      font-size:14px;
}
.error-row{
background:url("../images/error.png") no-repeat;
width:131px;height:28px;
text-align:center;
line-height:28px;
display:none;
color:#FE6400;
}
.error-mar{
    margin-left:453px;
    margin-top:7px;
}
.error-ses{
    margin-top:7px;
float:left;
}
.login-top{
width:975px;padding-top:10px;padding-left:20px;height:40px;
}
.login-top img{
 padding-bottom:10px;float:left;width:30px;
}
.login-top span{
  float:left;
  font-size:14px;
  margin-top:8px;
  width: 972px;
  margin-left: 230px;
}
/*底部游戏介绍*/
.reg-succ-box
{
	background: url("../images/foot.png")  no-repeat scroll top center #FCFCFC;
	width:100%;
	padding-top: 10px;
}
.reg-succ-foot{
	width: 983px;
	margin: 0 auto;
}
.reg-succ-foot .title{
	margin:20px 0;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
}
.pro_list_new{
	font-size: 12px;
    font-weight: normal;
    height: 218px;
    margin-left: 10px;
    width: 983px;
    font-family: '宋体',Simsun;
	}
.pro_list_new li{
	list-style-type:none;
	margin-right: 44px;
	float:left;
	height:83px;
}
.pro_list_new a{
	  display: inline;
    float: left;
    margin-left: auto;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color:#000;
}
.pro_img{
	margin-right:10px;
	color:#333;
	text-decoration:none;
	display:inline-block;
	width: 71px;
	height: 71px;
	_height: 85px;
}
.pro_title_t
{
	font-size:14px;
	font-weight:bold;
	margin-top:0px;
	margin-left:10px;
	padding-top : 3px;
	border:none;
}
.pro_body{
	float:left;
	text-align:left;
}
.pro_title {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
  }
.pro_des{
	color: #A4A4A4;
	line-height:17px;
	margin-top:5px;
	word-break:break-all;
	width:120px;
	overflow:auto;
}
.select-game{
    position: relative;
    width: 224px;
	font-family:微软雅黑,Microsoft YaHei;
    margin-left:112px;
    margin-top:12px;
}
.choose-game{
    background: url("../images/enter.png") no-repeat  0 0 transparent;
    clear: both;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    height: 84px;
    line-height: 69px;
    width: 227px;
}
.s-botton{
position:absolute;
width:25px;
height:25px;
cursor:pointer;
margin-left:300px;
margin-top:11px;
background: url("../images/common.png") no-repeat scroll 0 -570px transparent;
}
.s-select{
    border: 1px solid #9a9a9a;
    height: auto;
    margin-left: 206px;
    margin-top: -26px;
    position: absolute;
    width: 323px;
    z-index:10;
    display:none;
    background-color:#fff;
}
.alert-select{
    margin-left:77px;
}
.s-select .s-option{
width:322px;
height:30px;
font-size:14px;
line-height:30px;
border-bottom:1px solid #9a9a9a;
text-align:center;
cursor:pointer;
}
.s-select .selected{
    background-color:#ccc;
}
.selected-game{
    background: url("../images/enter.png") no-repeat  0 0 transparent;
    clear: both;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    height:62px;
    line-height: 62px;
    width: 227px;
overflow:hidden;
}
.game-botton{
    height:62px;
    line-height: 62px;
	cursor:pointer;
	font-family:微软雅黑,Microsoft YaHei;
}
.game-foot{
	width:224px;
	height:21px;
	cursor:pointer;
}
.unselect-game{
	width:64px;
	height:90px;
	line-height:38px;
	font-size: 12px;
    margin-left:2px;
cursor:pointer;
float:left;
      list-style:none;
      text-align:center;
}
.unselect-game span{
position:absolute;
top:32px;
width: 64px;
       text-align:center;
       margin-left:-45px;
}
.last-one{
	background:url('../images/out.png') no-repeat 0 -61px;
	width:226px;
	height:23px;
cursor:pointer;
	display:none;
}
.last-one .last-div{
	width: 219px;
	height:56px;
	line-height:56px;
	font-size: 20px;
    font-weight: bold;
    color:#898989;
    cursor:pointer;
    margin-left: 5px;
}
.last-one .last-foot{
	width:226px;
	height:23px;
	cursor:pointer;
}
.unselect-hover,.selected{
	background-color:#EEEEEE;
}
.change-one{
    background: url("../images/appeal_pro.png") no-repeat scroll 0 -102px transparent;
    height: 39px;
    margin: 30px 0px;
    width: 625px;
}
.change-two{
    background: url("../images/appeal_pro.png") no-repeat scroll 0 -5px transparent;
    height: 39px;
            margin-bottom:30px;
    width: 625px;
}
.change-three{
    background: url("../images/appeal.png") no-repeat scroll 0 -52px transparent;
    height: 39px;
    margin: 30px 165px;
    width: 899px;
}
.step-one{
    background: url("../images/appeal.png") no-repeat scroll 0 0 transparent;
    height: 39px;
    margin: 30px 50px;
    width: 899px;
}
.step-two{
   background: url("../images/appeal.png") no-repeat scroll 0 -41px transparent;
    height: 39px;
    margin: 30px 50px;
    width: 899px;
}
.step-three{
    background: url("../images/appeal.png") no-repeat scroll 0 -83px transparent;
    height: 39px;
    margin: 30px 50px;
    width: 899px;
    overflow:hidden;
}
.step-four{
    background: url("../images/appeal.png") no-repeat scroll 0 -126px transparent;
    height: 39px;
    margin: 30px 50px;
    width: 899px;
}
.step-five{
    background: url("../images/appeal.png") no-repeat scroll 0 -171px transparent;
    height: 39px;
    margin: 30px 50px;
    width: 899px;
}
.min-select{
	width:138px;
	height:auto!important;
	height:36px;
	min-height:36px;
	background:url('../images/input.png') no-repeat;
	position:relative;
	margin-top:2px;
	margin-left:5px;
	float:left;
	position:relative;
    zoom:1;
    overflow:hidden;
}
.min-select .m-input{
	height: 30px;
    margin-left: 1px;
    width: 96px;
    border:0;
    outline:none;
    margin-top:2px;
    background:transparent;
    line-height:30px;
    text-align:center;
    font-size:16px;
    font-family:"微软雅黑";
}
.min-select .m-botton{
	float:right;
	width:38px;
	height:35px;
	cursor:pointer;
}
.one .option{
	width:108x;
	height:auto;
	text-align:left;
	padding-left:27px;
	cursor:pointer;
           font-size:14px;

    font-family:"微软雅黑";
}
  .one{
	margin-left: 771px;
    margin-top: -404px;
	border:1px #ccc solid;
	border-radius:5px;
    display:none;
    width:auto !important;
    width:138px;
    min-width:138px;
    position:absolute;
    z-index:10;
    background-color:#ffffff;
    height:210px;
    overflow:auto;
    zoom:1;
    margin-left:740px;\8
}
.icon-tip{
	background: url("../images/common.png") no-repeat scroll 0 -769px transparent;
    float: left;
    height: 17px;
    width: 18px;
    margin-top:3px;

}
.game-div{
	font-size:14px;
	margin-left:186px;
	height:200px;
overflow:hidden;
}
.game-div  .choose-game-tip{
    margin-top:8px;
	width:746px;;
	height:115px;
}
.choose-game-tip .game{
	height:60px;
	width:220px;
	float:left;
}
.g-mole{
position:absolute;
left:10px;
top:10px;
background:url('../images/appeal.png') no-repeat -14px -1094px;
width:30px;
height:30px;
}
.g-seer{
position:absolute;
left:10px;
top:10px;
background:url('../images/appeal.png') no-repeat -14px -1021px;
width:30px;
height:30px;
}
.g-seer2{
position:absolute;
left:10px;
top:10px;
background:url('../images/appeal_new_seer.png') no-repeat;
width:30px;
height:30px;
}
.g-hua{
position:absolute;
left:10px;
top:9px;
background:url('../images/appeal.png') no-repeat -14px -988px;
width:30px;
height:30px;
}
.g-gf{
position:absolute;
left:10px;
top:8px;
background:url('../images/appeal.png') no-repeat -14px -1059px;
width:30px;
height:32px;
}
.g-hero{
position:absolute;
left:10px;
top:9px;
background:url('../images/appeal.png') no-repeat -14px -947px;
width:30px;
height:32px;
}
.g-zs{
position:absolute;
left:10px;
top:9px;
background:url('../images/zs.png') no-repeat;
width:30px;
height:32px;
}
.game .game-show{
position:relative;
height: 46px;
line-height: 46px;
text-align: center;
width: 150px;
background:url('../images/appeal.png') no-repeat -14px -214px;
cursor:pointer;
}
.ps-select{
background:url('../images/common.png') no-repeat 0 -604px;
position:absolute;
width:30px;
height:28px;
left:115px;
display:none;
z-index:10;
top:0px;
    margin-top:7px;
}

.game-select{
background:url('../images/appeal.png') no-repeat -14px -264px !important;
}
 .label-tip{
	display: inline-block;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    width: 127px;
    height:20px;
    float:left;
    font-weight:bold;
}
.icon-content{
margin: 115px auto 0;
        text-align:center;
}
.correct-icon{
background: url("../images/common.png") repeat scroll 0 -537px transparent;
height: 28px;
width: 30px;
display:inline-block;
        margin-right:10px;
}
.wrong-icon{
background: url("../images/common.png") repeat scroll 0 -468px transparent;
height: 28px;
width: 30px;
display:inline-block;
        margin-right:10px;
}
.correct-tip{
    font-size:14px;
    vertical-align:top;
    line-height:32px;
}
.line{
	border-bottom: 2px dotted #9A9A9A;
    float: left;
    margin-top: 10px;
    *margin-top:-5px;
    width: 600px
}
.reg-succ{
	height: 60px;
	line-height:20px;
	font-size:14px;
    margin-bottom:80px;
}
.succ-tip{
	display:inline-block;
	margin-left: 20px;
	margin-top: 9px;
    line-height:28px;
}
.big-icon{
    background: url("../images/appeal.png") no-repeat scroll -14px -775px transparent;
    display: inline-block;
    height: 60px;
    width: 59px;
    display:inline-block;
}
.class-left{
	float:left;
	width:575px;
	height:auto;
	margin-top:30px;
	font-size:14px;
	position:relative;
}
.tip-class{
	height:30px;
	margin: 10px 10px 10px 16px;
	width:30px;
	background:url('../images/icon.png') no-repeat 0 -172px ;
	float:left;
}
.tip-top{
	font-weight:bold;
	line-height:50px;
}
.class-ad{
	margin: 10px 10px 10px 16px;
	width:535px;
	height:450px;
	border: 1px solid #E0E0E0;
	overflow:hidden;
}
.ad-foot{
    height: 30px;
    margin-left: 169px;
    width: 225px;
    text-align:center;
}
.ad-foot a{
	background:url('../images/ad_bt_off.png') no-repeat;
	height: 14px;
    width: 13px;
	display:inline-block;
}
.ad-foot .on{
	background:url('../images/ad_bt_on.png') no-repeat;
}
.opacity{
    height: 44px;
    left: 19px;
    position: absolute;
    top: 465px;
    width: 532px;
    background-color:#000;
    opacity:0.8;filter:alpha(opacity=80);
}
.opacity .tip-span{
	color: #FFFFFF;
    line-height: 44px;
    margin-left: 30px;
    position:absolute;
    z-index:2;
}
.class-ad img{
	height: 450px;
    margin: 2px;
    width: 531px;
}
.class-right{
	float:right;
	width:350px;
	height:auto;
	margin-top:30px;
	font-size:14px;
}
.classr-min{
	height:40px;
	margin:10px 10px 0px 10px;
    *margin:0px;
    font-family:"宋体";
}
.tip-pro{
	background:url('../images/icon.png') no-repeat 0  -144px ;
	width:30px;
	height:30px;
	float:left;
	margin-right:10px;
}
.tip-cla{
	background:url('../images/icon.png') no-repeat 0  -320px ;
	width:30px;
	height:30px;
	float:left;
	margin-right:10px;
}
.tip-lao{
	background:url('../images/icon.png') no-repeat 0  -230px ;
	width:30px;
	height:30px;
	float:left;
	margin-right:10px;
}
.classr-min .title-tip{
	font-weight:bold;
	line-height:30px;
}
.min-dotted{
display:inline-block;
width:330px;
height:2px;
background:url('../images/common.png') no-repeat 0 -901px;
}
.r-page{
	float:right;
	margin-right:20px;
    margin-top:10px;
    *margin-top:-20px;
	width:50px;
	height:20px;
}
.r-page .page{
	background:url('../images/icon.png') no-repeat 0  -393px;
	width:18px;
	height:18px;
	float:left;
	cursor:pointer;
    color:#9a9a9a;
    margin-right:5px;
    text-align:center;
}
.page-on{
    background:url('../images/icon.png') no-repeat 0  -374px!important;
    color:#fff!important;
}
.classr-mid{
	height:220px;
	margin:0 10px 0 10px;
}

.classr-ul{
	 margin-left: 16px;
	 list-style:square;
	 color:#FD9204;
     font-family:"宋体";
}
.classr-ul a{
color:#000;
}
.li-title{
	display:block;
	line-height:25px;
	color:#000;
}
.li-tip{
	color:#666666;
	font-size:12px;
}
.gray-div{
	background-color:#F3F3F3;
	border: 1px solid #E0E0E0;
	border-radius:5px;
    font-size:14px;
width:500px;
      margin-top:118px;
      margin-bottom:10px;
      *margin-top:126px;
}
.gray-div  .notice{
 background: url("../images/common.png") no-repeat scroll 0 -425px transparent;
 height: 38px;
 width: 39px;
display:inline-block;
       margin:10px;
}
.notice-content{
display:inline-block;
width:300px;
height:62px;
line-height:28px;
}
.comm-tip{
	background-color:#F3F3F3;
	width: 535px;
	border: 1px solid #E0E0E0;
	border-radius:5px;
	height:100px;
	margin-left:16px;
}
.tip-title{
	font-weight:bold;
	margin-top:18px;
	color:#333;
	width:160px;
display:inline-block;

}
.go-botton{
    background: url("../images/common.png") no-repeat scroll 0 -851px transparent;
display:inline-block;
    color: #148710;
    height: 35px;
    line-height: 32px;
    text-align: center;
    width: 95px;
    margin-left:212px;
cursor:pointer;
}
.tip-icon{
	display:inline-block;
	background:url('../images/icon.png') no-repeat 0 -202px;
	height:30px;
	width:30px;
	margin:10px;
	float:left;
}
.reg-text{
    background:url('../images/textarea.png') no-repeat transparent;
	width:442px;
	height:225px;
	display:inline-block;
	margin-left: 5px;
	position:relative;
}
.reg-text .reg-span{
	position:absolute;
    color:#9a9a9a;
    line-height:46px;
    padding-left:10px;
}
.reg-area{
width:422px;
height:204px;
border:0;
padding:10px;
position:absolute;
background:transparent;
outline:none;
overflow:auto;
         font-size:16px;
         font-family:"微软雅黑";
}
.l-user{
	background:url('../images/new_icon.png') no-repeat scroll -265px 0px;
	height:30px;
	width:25px;
}
.t-user,.t-guser{
	background:url('../images/new_icon.png') no-repeat scroll -267px -5px;
	height:20px;
	width:17px;
	margin-top:7px;
display:inline-block;
        vertical-align:middle;
overflow:hidden;
}
.t-guser{
	background:url('../images/new_icon.png') no-repeat scroll -267px -29px;
	margin-top:4px;
}
.l-pwd{
        background:url('../images/icon.png') no-repeat scroll 0 -293px;
	height:30px;
	width:25px;
}
.foot-ico1{
	background: url('../images/index.png') no-repeat scroll 0pt -825px transparent;
	width: 65px;
	height: 70px;
}
.foot-ico2{
        background: url('../images/index.png') no-repeat scroll 0pt -900px transparent;
        width: 65px;
        height: 70px;
}
.foot-ico3{
        background: url('../images/index.png') no-repeat scroll 0pt -670px transparent;
        width: 65px;
        height: 70px;
}
.star-green{
	height:30px;
	width:30px;
	background:url('../images/star.png') no-repeat scroll 0 -135px;
}
.star-half-green{
	height:30px;
        width:30px;
        background:url('../images/star.png') no-repeat scroll 0 -69px;
}
.star-gray{
	height:30px;
        width:30px;
        background:url('../images/star.png') no-repeat scroll 0 -33px;
}
.star-orange{
	height:30px;
        width:30px;
        background:url('../images/star.png') no-repeat scroll 0 1px;
}
.star-half-orange{
        height:30px;
        width:30px;
        background:url('../images/star.png') no-repeat scroll 0 -100px;
}
.face-orange{
	height:68px;
	width:65px;
	background:url('../images/new_icon.png') no-repeat scroll -80px -2px;
}
.face-red{
        height:68px;
        width:65px;
	    background:url('../images/new_icon.png') no-repeat scroll -157px -2px;
}
.face-green{
        height:68px;
        width:65px;
	    background:url('../images/new_icon.png') no-repeat scroll -4px -2px;
}
.mark-gray{
       background: url("../images/new_icon.png") no-repeat scroll -300px -28px;
         height: 20px;
     	line-height:20px;
        margin: 14px 2px 0;
        width: 22px;
}
.mark-green {
    background: url("../images/new_icon.png") no-repeat scroll -298px -5px;
    height: 22px;
    line-height:20px;
    margin: 14px 2px 0;
    width: 22px;
}
.ico-email{
    background: url("../images/icon.png") repeat scroll 0 0 transparent;
    height: 35px;
    line-height:35px;
    margin: 10px 10px 0 0;
    width: 29px;
}
.ico-pwd{
    background: url("../images/icon.png") repeat scroll 0 -108px transparent;
    height: 35px;
    line-height:35px;
    margin: 10px 10px 0 0;
    width: 29px;
}
.ico-mbk{
    background: url("../images/icon.png") repeat scroll 0 -36px transparent;
    height: 35px;
    line-height:35px;
    margin: 10px 10px 0 0;
    width: 29px;
}
.ico-phone{
    background: url("../images/phone_pro.png") repeat scroll -5px 0px transparent;
    height: 35px;
    line-height:35px;
    margin: 8px 10px 0 0;
    width: 29px;
}
.ico-mbq{
    background: url("../images/icon.png") repeat scroll 0 -72px transparent;
    height: 35px;
    line-height:35px;
    margin: 10px 10px 0 0;
    width: 29px;
}
.safe-high{
    background: url("../images/register.png") no-repeat scroll 0 -665px transparent;
    height: 40px;
    margin: 0 0 0 105px;
    width: 275px;
}
.safe-mid{
    background: url("../images/register.png") no-repeat scroll 0 -618px transparent;
    height: 40px;
    margin: 0 0 0 105px;
    width: 275px;
}
.safe-low{
    background: url("../images/register.png") no-repeat scroll 0 -563px transparent;
    height: 40px;
    margin: 0 0 0 105px;
    width: 275px;
}
.safe-none{
    background: url("../images/register.png") no-repeat scroll 0 -518px transparent;
    height: 40px;
    margin: 0 0 0 105px;
    width: 275px;
}
.n_safe{
    margin-left: 92px;
    height:70px;
}
.n_safe .pwdnone,.n_safe .pwdone,.n_safe .pwdtwo{
    height: 70px;
    margin: 0 0 0 105px;
    width: 310px;
}
.pwdnone{
    background: url("../images/pwd_level.jpg") no-repeat scroll  0 -244px transparent;
}
.pwdone{
    background: url("../images/pwd_level.jpg") no-repeat scroll  0 -4px transparent;
}
.pwdtwo{
    background: url("../images/pwd_level.jpg") no-repeat scroll  1px -84px transparent;
}
.n_safe .pwdthree{
width:320px;
    height: 70px;
    margin: 0 0 0 105px;
    background: url("../images/pwd_level.jpg") no-repeat scroll -11px -159px transparent;
}
.reg-tip{
color: rgb(153, 153, 153); margin: -10px 0px 10px 207px;
background: url("../images/common.png") no-repeat scroll 0 -769px transparent;
}
.reg-tip span{
margin-left:20px;
}

.hack-list{
 *display:inline !important;
zoom:1;
}
.no-underline-hover:hover{
	text-decoration: none;
}
.add-more{
display:inline-block;
height:15px;
width:18px;
background:url("../images/common.png") no-repeat 0px -788px transparent;
overflow:hidden;
}
.newgame{
color:#029803;
cursor:pointer;
position:absolute;
right:0;
}
.newgame-row{
    margin-left:100px;
}
.textarea-tip{
        line-height:20px;
position:absolute;
color:#9A9A9A;
padding:10px;
        font-size:16px;
        font-family:"微软雅黑";
}
.comm-tell{
    margin-top:50px;
    font-weight:bold;
    font-size:14px;
    line-height:20px;
}
.comm-tell .child{
    text-indent:28px;
}
.gonggao-icon{
display: inline-block;
overflow: hidden;
vertical-align: middle;
background: url("../images/test.png") no-repeat scroll -290px 0 transparent;
height: 16px;
width: 16px;
}
.fleft-game .before{
float:left;
width: 13px;
height: 43px;
background:url("../images/split_v1.0.png") no-repeat -82px -56px;
           margin-top:6px;
cursor:pointer;
}
.fleft-game .after{
float:left;
width: 13px;
height: 43px;
background:url("../images/split_v1.0.png") no-repeat -66px -56px;
margin-top:6px;
margin-left:5px;
cursor:pointer;
}
.fleft-game .after_gray{
background:url("../images/split_v1.0.png") no-repeat -33px -56px;
}
.fleft-game .before_gray{
background:url("../images/split_v1.0.png") no-repeat 0px -56px;
}
.fleft-game ul{
float:left;
}
.jdr_game{
width:594px;
height:90px;
float:left;
overflow:hidden;
visibility: visible;
position: relative;
z-index: 2;
left: 0px;
}
.fleft-game{
position:absolute;
overflow:hidden;
margin-top: 10px;
width:625px;
margin-top:10px;
background:#fff;
height:90px;
       margin-bottom:20px;
bottom: 75px;
left: 173px;
}
.game_name{
    text-align:center;
}
.new-nav{
    margin:20px 0 0 6px;
    _margin:20px 0 0 3px;
    width:190px;
    height:482px;
    float:left;
    background:#FFEDE3;
    border:1px solid #DAC2B0;
    clear:left;
}
.new-nav ul{
    list-style:none;
}
.new-nav .nav-box {
display:block;
background:url('../images/nav_test.png');
width:190px;
height:82px;
margin-bottom:2px;
text-decoration:none;
color:#616c72;
      line-height:24px;
outline: none;
}
.new-nav a:hover{
    text-decoration:none;
}
.nav-box .title{
    font-weight:bold;
    font-size:16px;
    padding-top:18px;
width:190px;
display:block;
cursor:pointer;
text-align:center;
overflow:hidden;
    -webkit-transition:padding-left .2s ease-in;
    -moz-transition: padding-left .2s ease-in;
    -o-transition: padding-left .2s ease-in;
transition: padding-left .2s ease-in;
position:relative;
}
.nav-box .title .new,.hot{
position:absolute;
height: 24px;
width: 32px;
background: url(../images/hot_new.gif) no-repeat -32px 0;
right: 48px;
top: 0px;
}
.hot{
 background: url(../images/hot_new.gif) no-repeat;
}
.nav-box .tip{
    font-size:12px;
width:190px;
      text-align:center;
display:block;
cursor:pointer;
overflow:hidden;
}
.new-nav .cur{
width:207px;
background:url('../images/nav_test.png') 0 -79px ;
position:absolute;
color:#fff;
}
.new-nav li{
position:relative;
height:85px;
}
.min-input .reg-span{
       margin-left: 10px;
       margin-top: 12px;
       line-height: 18px;
color: #9a9a9a;
display: block;
position:absolute;
}
.min-input .s-mark{
    font-family: '微软雅黑';
float: right;
       margin-top: 10px;
       right: 3px;
       font-size: 16px;
       font-weight: bold;
}
.min-input .newtext{
position: absolute;
left: 0;
top: 0;
opacity: 0.58;
filter:alpha(opacity=50);
z-index:10;
width:220px;
background:#fff;
}
.n-gray{
color:#777;
      font-weight:normal;
      font-size:12px;
}
.spmm{
display:inline-block;
*zoom:1;
background:url('../images/reg.png') no-repeat -89px -34px;
width: 28px;
height: 23px;
vertical-align: middle;
left: 27px;
position: absolute;
}
.cur .spmm{
background:url('../images/reg.png') no-repeat -91px -1px;
}
.spemail{
display:inline-block;
*zoom:1;
background:url('../images/reg.png') no-repeat -56px -34px;
width: 28px;
height: 23px;
vertical-align: middle;
left: 27px;
position: absolute;
}
.cur .spemail{
background:url('../images/reg.png') no-repeat -59px 1px;
}
.spself{
display:inline-block;
*zoom:1;
background:url('../images/reg.png') no-repeat 0px -33px;
width: 23px;
height: 23px;
vertical-align: middle;
left: 27px;
position: absolute;
}
.sphone{
display:inline-block;
*zoom:1;
background:url('../images/reg.png') no-repeat -27px -33px;
width: 23px;
height: 23px;
vertical-align: middle;
left: 27px;
position: absolute;
}
.cur .sphone{
 background:url('../images/reg.png') no-repeat -30px 1px;
}
.cur .spself{
background:url('../images/reg.png');
}
.tip-email{
font-size: 18px;
width: 470px;
overflow: hidden;
display: inline-block;
height: 30px;
vertical-align: bottom;
color:#ff6600;
}
.rotate{
    -webkit-transform:rotate(10deg);
}
.trans{
    padding-left:10px;
    *padding-left:0; padding-left:0\0;
}
.org{
    color:#F58A48;
}
.top_notice{
background: #FFEDE3;
height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
}
.top_notice .notice_close{
color:#F00000;
cursor:pointer;
       font-weight:bold;
}
.luser_left,.list_cont{
display:inline-block;
 *display:inline;
zoom:1;
     vertical-align:middle;
}
.list_cont li{
    list-style:none;
    float:left;
          text-align:center;
margin:0 5px 0 12px;
       font-size:12px;
color:#333;
}
.list_cont a{
color:#333;
      text-decoration:none;
}
.list_self,.list_id,.list_em,.list_mmk,.list_qu,.list_ph{
background:url(../images/list_pro.png) no-repeat -10px -9px;
display:inline-block;
*display:inline;
zoom:1;
width:30px;
height:30px;
margin-bottom:5px;
}
.list_ph{
 background:url(../images/list_pro.png) no-repeat -78px -9px;
}
.list_id{
 background:url(../images/list_pro.png) no-repeat -46px -9px;
}
.gray_id{
 background:url(../images/list_pro.png) no-repeat -46px -54px;
}
.gray_self{
  background:url(../images/list_pro.png) no-repeat -8px -54px;
}
.list_em{
 background:url(../images/list_pro.png) no-repeat -111px -9px;
}
.gray_em{
 background:url(../images/list_pro.png) no-repeat -111px -54px;
}
.list_mmk{
 background:url(../images/list_pro.png) no-repeat -148px -9px;
}
.gray_mmk{
 background:url(../images/list_pro.png) no-repeat -148px -54px;
}
.list_qu{
 background:url(../images/list_pro.png) no-repeat -179px -13px;
}
.gray_qu{
 background:url(../images/list_pro.png) no-repeat -179px -57px;
}
.gray_ph{
 background:url(../images/list_pro.png) no-repeat -78px -57px;
}
.regp_r{
position: absolute;
right: 10px;
       font-size: 14px;
top: 37px;
     z-index: 5;
background: #fff;
}
.regp_r .tip_top{
color: #ff6600;
border: 1px solid #fff;
cursor: pointer;
        border-bottom: #fff;
background: #fff;
            z-index: 6;
position: relative;
padding: 0 3px 4px;
}
.cur_p .tip_top{
 border: 1px solid #F0BF9E;
 border-bottom: #fff;
}
.regp_r .reg_phone{
position: absolute;
z-index: 4;
background: #fff;
border: 1px solid #F0BF9E;
right: 0px;
top: 23px;
padding: 5px 14px 5px;
line-height: 22px;
display:none;
}
.cur_p .reg_phone{
display:block;
}
.reg_phone ul{
    list-style:none;
}
.box_content{
    margin-left: 28px;
color:#333;
font: normal normal normal 12px/1.5 Tahoma,Simsun,Helvetica,Arial,sans-serif,"宋体",SimSun,"新宋体",NSimSun;
}
.box_content .box_title{
    margin: 0 0 10px 0;
    font-size:14px;
}
.box_content .box_tail{
    font-size: 12px;
    line-height: 24px;
background: #F8F7DC;
margin: 0 auto 15px;
width: 279px;
padding: 10px;
}
.box_tail .title{
    margin-bottom: 8px;
    font-size: 14px;
}
.appeal_udid
{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
display: inline-block;
width: auto;
max-width: 278px;
_width:expression((documentElement.clientWidth >278) ? "278px" : "auto" );
vertical-align:middle;
}
.rnew_t{
display:block;
font-size:12px;
color:#777;
      line-height:20px;
}
