@charset "utf-8";

.container{width:960px;margin:7px auto 0;}
/*登录*/
#nolog{display:block;float:left;line-height:20px;width:232px;position:relative;z-index:1000; background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/web/u_bg.png);margin-bottom:4px;}
#nolog h3{width:232px;height:42px;line-height:28px;text-indent:-1000em;color:#fff;font-size:12px; overflow:hidden;}
#nolog form li{clear:both;padding-top:3px;width:230px;}
#nolog .ipt{width:150px;height:22px;line-height:22px;border:1px solid #E59B28;text-indent:2px;}
#nolog form label{float:left;line-height:24px;text-align:right;width:58px;padding-right:5px; height:28px;}
#nolog .btn_log{background: url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/web/lognan.png); width:125px; height:39px; border: none; margin-left:60px; cursor:pointer;}
#nolog a.btn_reg{ display:block; width:112px; height:31px; position:absolute; top:5px; right:5px; overflow:hidden; text-indent:-1000em; }
#nolog a.lose{margin-left:4px; text-decoration:underline; }
#nolog a.lose:hover{ text-decoration:none;}

#code_label img{ margin-left:1px;vertical-align:middle;}
#code_label input{ _margin-left:3px;}
#nolog .get{ padding-left:63px;width:169px; height:33px; background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/web/u_bg.png) no-repeat 0 bottom; line-height:24px;}
#nolog .get label{display:inline;float:none;line-height:20px;height:20px;}
#nolog .get input{ vertical-align:middle;margin-right:2px;}
#nolog .ipt2{width:80px;height:22px;line-height:22px;border:1px solid #E59B28;text-indent:2px; float:left; }

#logined .lgame_more{background:#FFF;}
#logined .lgame_last{border-bottom: 1px solid #F8BE63;}
#logined .lastgame ul{border-left: 1px solid #F8BE63;border-right: 1px solid #F8BE63;left: 3px;top: 60px;padding: 0 0 2px 0;position: absolute;width: 212px;}
/*新手卡*/
#xsk{ width:232px; height:43px; overflow:hidden; float:left;}
#bind_phone{ width:232px; height:52px; overflow:hidden; float:left;}

/*登录后*/
#logined{display:none;float:left;line-height:20px;width:232px;position:relative;z-index:1000; height:183px; background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/web/login.jpg) 0 -183px;margin-bottom:4px;}
#logined .Welcome{ padding:8px 0 0 36px; width:156px; height:22px; overflow:hidden; white-space:nowrap; color:#fff; background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/web/tou.jpg) no-repeat 12px 10px; overflow:hidden; line-height:22px;}
#logined .History{padding:10px 10px 0; height:60px;}
#logined .History li{ padding-left:2em; line-height:20px; height:20px; width: 188px; overflow:hidden;}
#logined .History li span{ float:right;}
#logined .History li a{color:#FF4200;}
#logined .History .m_fwq{ position:absolute; left:3px; background:#fff; border:1px solid #F8BE63; padding:0 6px 5px; border-top-width:0; width:212px;display:none;}
#logined .like{padding-left:10px; line-height:24px; height:24px; overflow:hidden;width:222px;}
#logined .like a{ margin:0 2px;color:#ff4200;}
#logined a.my_center{ background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/web/center.png); width:100px; height:24px; color:#fff; text-align:center; line-height:24px; display:block; margin:auto;}
#logined a.my_center:hover{ text-decoration:none;}
#logined .s_news{ padding:5px 10px 0 27px; background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/web/icon.png) no-repeat 10px -319px; line-height:20px;}
#logined_scroll { height:20px; width: 195px; overflow:hidden; position:relative;}
#logined_scroll div{width:1000%; position:absolute;left:0;}
#logined .s_news a{margin:0 20px 0 0;display:inline-block;}
#logined .s_news #bind{width:195px;border:none;padding:0;margin:0;}
#logined .s_news #bind a{color:#FF4200;padding:0;margin:0;}
#logined a.quit{ position:absolute; top:9px; right:10px; color:#fff; text-decoration:underline;}
#logined a.quit:hover{ text-decoration:none;}
#logined .ts{ font-weight:bold; color:#FF4200;padding:10px 10px 0;}
#logined .tj_g{ height:64px; padding:0 10px;}
#logined .tj_g  a{ color:#BB5400; display:inline-block; width:33%; text-align:center;}
/*服务器列表*/
.fwq{display:inline;float:left;width:230px;border:1px solid #E0E0E0;margin-top:7px;overflow:hidden;}
.fwq table{width:220px;margin:4px auto;}
.fwq th{border-right:1px solid #E1E1E1;text-align:left;font-weight: normal; text-align:center;}
.fwq td{line-height:26px; border-bottom:1px dashed #ccc; text-align:center;}
.fwq_1{background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/base/button.gif) -469px -75px;color:#C63800;height:27px;line-height:27px;}
/*推荐服务器*/
.fwq_tj{float:left;width:230px;border:1px solid #E0E0E0; margin-top:5px;}
.fwq_tj .box{ margin:5px auto 6px; width:222px;}
.fwq_tj .g{ display:block;padding:0 36px 0 34px; height:30px; line-height:30px;background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/base/button.gif) -496px -295px; position:relative; cursor:pointer;}
.fwq_tj a.g:hover{background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/base/button.gif) -496px -356px; color:#fff; text-decoration:none;}
.fwq_tj a.g:hover span{color:#fff;}
.fwq_tj .g b{font-size:12px; float:left;}
.fwq_tj .g span{ float:right; color:#C63800;}
.fwq_tj .gs{ display:block;padding:0 36px 0 34px; height:30px; line-height:30px;background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/base/button.gif) -496px -356px; position:relative; cursor:pointer;color:#fff;}
.fwq_tj .gs span{ float:right; color:#fff;}
.fwq_tj .g em{ position:absolute; width:16px; height:20px; left:12px; top:6px; display:block;background-image:url("http://upload.ci.com/sitePage/1//pic.my4399.com/newimg/common_top.png");}
.fwq_tj .g_list{margin:2px auto; width:210px; border:1px solid #E2BFA3; background:#FFFDE3; padding:7px 5px; position:relative;}
.fwq_tj .g_list ul{overflow-y:scroll;height:165px; padding-left:5px; width:205px;}
.fwq_tj .g_list li{ line-height:21px; color:#666;  height:21px; }
.fwq_tj .g_list li img{ margin:5px 8px 0 0;}
.fwq_tj .g_list li a{ float:left; color:#BB5400;} 
.fwq_tj .g_list a.more{ text-align:center;clear:both; display:block;}
.fwq_tj .g_list span{ float:right; padding-right:10px; color:#999;}
.fwq_tj .g_list div{ width:11px; height:22px;position:absolute; top:-22px;right:18px;background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/base/button.gif) -561px -267px;}

/*活动日历*/
.date{float:left;width:230px;border:1px solid #E0E0E0;margin-top:7px;}
.date div{width:220px; margin:5px auto 0; height:25px; background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/base/index_04.gif); text-align:center; color:#fff; font-weight:bold; font-size:14px; line-height:25px; position:relative;}
.date .lf{width:15px; height:15px; position:absolute; left:20px; top:5px; cursor:pointer; background:url("http://upload.ci.com/sitePage/1//pic.my4399.com/images/base/button.gif") -496px -267px;  overflow:hidden;}
.date .ri{width:15px; height:15px; position:absolute; right:20px; top:5px; cursor:pointer;background:url("http://upload.ci.com/sitePage/1//pic.my4399.com/images/base/button.gif") -511px -267px; overflow:hidden;}
.date a.lf:hover{background:url("http://upload.ci.com/sitePage/1//pic.my4399.com/images/base/button.gif") -526px -267px;}
.date a.ri:hover{background:url("http://upload.ci.com/sitePage/1//pic.my4399.com/images/base/button.gif") -541px -267px;}
.date table{ width:220px; margin:5px auto; background:#F8F8F8; text-align:center; border-left:5px solid #F8F8F8;border-right:5px solid #F8F8F8}
.date td a{background:#fff; border:1px solid #ccc; display:inline-block; width:20px; line-height:20px; text-align:right;font-family:Arial; margin-bottom:2px; padding-right:5px; font-weight:bold; color:#666666;}
.date td a.act{border:1px solid #FED22F; background:#FFF4CF;color:#C63800;}
.date td a:hover{border:1px solid #FED22F; background:#FFF4CF;color:#C63800;}

/*通用列表样式*/
.p1{display:inline;float:left;width:230px;border:1px solid #E0E0E0;margin-top:7px;position:relative;}
.p1 .more{position:absolute;top:4px;right:10px;color:#C97314;}
.p1 h3,.fwq h3,.fwq_tj h3,.date h3{width:230px;height:27px;background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/base/button.gif) 0 -75px;font-size:12px;text-indent:20px;line-height:27px;}
.p1 ul{padding:10px;}
.p1 li{line-height:24px;border-bottom:1px dashed #E1E1E1;}
.p1 li b{font-weight:normal;}
.p1 .kf{display:block;margin:0 auto 10px;width:209px;height:41px;background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/base/kf.jpg);overflow:hidden;text-indent:-1000px;
}

/*快速通道*/
.p2{display:inline;float:left;width:230px;border:1px solid #E0E0E0;margin-top:7px;position:relative; overflow:hidden;}
.p2 h3{width:230px;height:27px;background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/base/button.gif) 0 -75px;font-size:12px;text-indent:20px;line-height:27px;}
.p2 ul{padding:6px 0 0 5px; width:225px;}
.p2 li{ float:left; width:108px; height:25px; background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/base/icon2.png); margin:0 4px 4px 0; line-height:25px; float:left; text-indent:33px;}
.p2 li a{ display:block; background-image:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/base/icon2.png);}
.p2 li:hover{background-position:0 -25px}
.p2 li a:hover{ text-decoration:none;}
.p2 li a.b1{background-position:0 -50px}
.p2 li a.b2{background-position:0 -75px}
.p2 li a.b3{background-position:0 -100px}
.p2 li a.b4{background-position:0 -125px}
.p2 li a.b5{background-position:0 -150px}
.p2 li a.b6{background-position:0 -175px}

/*新加*/
.fwq .f_page{ text-align:center; padding-top:5px; height:28px;}
.fwq .f_page a{ width:16px; height:16px; display:inline-block; text-align:center; line-height:16px; color:#454545; background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/web/num.png); overflow:hidden; margin-right:2px; cursor:pointer; *display:inline; zoom:1;}
.fwq .f_page a:hover{ text-decoration:none;}
.fwq .f_page a.on{ background:url(http://upload.ci.com/sitePage/1//pic.my4399.com/images/web/num.png) right 0; color:#eb310d; font-weight:bold;}
.fwq .highlight, .fwq .highlight a{color:#0750A2;}
